Repository DevAlexIon/Task-Manager-Application: changes, and which GitLab CI jobs are due for each by the changed paths.
All: EsLint client, EsLint server

.gitlab-ci.yml:

image: node

cache:
  paths:
      - node_modules

stages:
- lint client
- lint server
- testing

EsLint client:
 stage: lint client
 script:
  - npm i
  - npm run client-lint
 rules:
  - changes:
    - packages/web-client/*

EsLint server:
 stage: lint server
 script:
  - npm i
  - npm run server-lint
 rules:
  - changes:
    - packages/server-api/*

Feature/3 healthcheck endpoint
  .gitlab-ci.yml
  package-lock.json
  package.json
  packages/server-api/package.json
  packages/server-api/src/app.module.ts
  packages/server-api/src/health/health.controller.spec.ts
  packages/server-api/src/health/health.controller.ts
  packages/server-api/src/health/health.module.ts
  packages/server-api/test/app.e2e-spec.ts
Due: EsLint server

Feature/4 reverse proxy frontend
  .eslintrc.js
  package-lock.json
  package.json
  packages/server-api/package.json
  packages/web-client/next.config.js
  packages/web-client/pages/_app.jsx
  packages/web-client/pages/health.jsx
  packages/web-client/pages/index.jsx
Due: EsLint client, EsLint server

Feature/5 routing setup
  .gitlab-ci.yml
  package-lock.json
  package.json
  packages/web-client/.eslintrc.json
  packages/web-client/__tests__/home.test.jsx
  packages/web-client/__tests__/login.test..jsx
  packages/web-client/__tests__/register.test.jsx
  packages/web-client/jest.config.js
  packages/web-client/next.config.js
  packages/web-client/package.json
  packages/web-client/pages/components/home.jsx
  packages/web-client/pages/components/login.jsx
  packages/web-client/pages/components/register.jsx
  packages/web-client/pages/index.jsx
Due: EsLint client

[65] Integrated Sass
  package-lock.json
  packages/web-client/package.json
  packages/web-client/pages/_app.jsx
  packages/web-client/pages/index.jsx
  packages/web-client/styles/Home.module.scss
  packages/web-client/styles/globals.scss
Due: EsLint client

Feature/6/db setup
  .gitlab-ci.yml
  docker-compose.yml
  package-lock.json
  package.json
  packages/server-api/.eslintrc.js
  packages/server-api/.gitignore
  packages/server-api/migrations/PostRefactoring1665473280490.ts
  packages/server-api/package.json
  packages/server-api/src/app.module.ts
  packages/server-api/src/app.spec.ts
  packages/server-api/src/health/health.controller.spec.ts
  packages/server-api/src/health/health.controller.ts
  packages/server-api/test/jest-e2e.json
  packages/server-api/typeOrm.config.ts
Due: EsLint server

[68] Setup-security-headers-for-api
  package-lock.json
  packages/server-api/.env
  packages/server-api/package.json
  packages/server-api/src/main.ts
Due: EsLint server

Feature/X/React_Router_Switch
  package-lock.json
  package.json
  packages/server-api/.env
  packages/server-api/src/app.module.ts
  packages/web-client/.eslintrc.json
  packages/web-client/__tests__/home.test.jsx
  packages/web-client/__tests__/login.test.jsx
  packages/web-client/__tests__/register.test.jsx
  packages/web-client/next.config.js
  packages/web-client/package.json
  packages/web-client/pages/_app.jsx
  packages/web-client/pages/_app.tsx
  packages/web-client/pages/health.jsx
  packages/web-client/pages/index.jsx
  packages/web-client/pages/routes/health.jsx
  packages/web-client/pages/routes/home.jsx
  packages/web-client/pages/routes/login.jsx
  packages/web-client/pages/routes/register.jsx
  packages/web-client/tsconfig.json
Due: EsLint client, EsLint server

#8 Register_Endpoint
  .gitlab-ci.yml
  package-lock.json
  package.json
  packages/server-api/.env
  packages/server-api/migrations/1666777724660-create-user-table.ts
  packages/server-api/migrations/1666777732328-update-user-table.ts
  packages/server-api/package.json
  packages/server-api/src/app.module.ts
  packages/server-api/src/auth/auth.controller.ts
  packages/server-api/src/auth/auth.module.ts
  packages/server-api/src/auth/auth.service.ts
  packages/server-api/src/auth/jwt.strategy.ts
  packages/server-api/src/users/entity/dto/CreateUserDto.ts
  packages/server-api/src/users/entity/dto/UserDto.ts
  packages/server-api/src/users/entity/user.entity.ts
  packages/server-api/src/users/users.module.ts
  packages/server-api/src/users/users.service.ts
  packages/server-api/typeOrm.config.ts
Due: EsLint server

#10 Login Endpoint
  .gitlab-ci.yml
  packages/server-api/.env
  packages/server-api/migrations/1666777724660-create-user-table.ts
  packages/server-api/migrations/1667292652217-insert-test-user.ts
  packages/server-api/src/app.module.ts
  packages/server-api/src/app.spec.ts
  packages/server-api/src/auth/auth.controller.ts
  packages/server-api/src/auth/auth.module.ts
  packages/server-api/src/auth/auth.service.ts
  packages/server-api/src/auth/jwt.strategy.ts
  packages/server-api/src/auth/utils/encrypt.service.ts
  packages/server-api/src/users/entity/dto/CreateUserDto.ts
  packages/server-api/src/users/entity/dto/LoginUserDto.ts
  packages/server-api/src/users/entity/dto/UserDto.ts
  packages/server-api/src/users/entity/user.entity.ts
  packages/server-api/src/users/users.module.ts
  packages/server-api/src/users/users.service.ts
  packages/server-api/typeOrm.config.ts
Due: EsLint server

#10 Registration Form
  package-lock.json
  package.json
  packages/web-client/.eslintrc.json
  packages/web-client/__tests__/login.test.jsx
  packages/web-client/__tests__/register.test.jsx
  packages/web-client/package.json
  packages/web-client/pages/routes/register.jsx
Due: EsLint client

#9 Login Form
  package-lock.json
  packages/web-client/__tests__/login.test.jsx
  packages/web-client/__tests__/register.test.jsx
  packages/web-client/package.json
  packages/web-client/pages/_app.tsx
  packages/web-client/pages/index.jsx
  packages/web-client/pages/routes/login.jsx
  packages/web-client/pages/routes/register.jsx
Due: EsLint client

#11 Protected-Routes
  package-lock.json
  packages/web-client/__tests__/home.test.jsx
  packages/web-client/package.json
  packages/web-client/pages/index.jsx
  packages/web-client/pages/routes/home.jsx
  packages/web-client/pages/routes/login.jsx
Due: EsLint client

add interceptors to avoid the return of the pass
  packages/server-api/migrations/1666777732328-update-user-table.ts
  packages/server-api/src/app.module.ts
  packages/server-api/src/app.spec.ts
  packages/server-api/src/boards/boards.controller.ts
  packages/server-api/src/users/entity/user.entity.ts
  packages/server-api/typeOrm.config.ts
Due: EsLint server

fixed pipeline:
  packages/server-api/src/app.module.ts
  packages/server-api/src/app.spec.ts
  packages/server-api/typeOrm.config.ts
Due: EsLint server

#12 Boards_Post_Endpoint
  package-lock.json
  packages/server-api/migrations/1666777724660-create-user-table.ts
  packages/server-api/migrations/1668153664799-create-board-table.ts
  packages/server-api/migrations/1668155041637-create-user-boards-board-table.ts
  packages/server-api/src/app.module.ts
  packages/server-api/src/app.spec.ts
  packages/server-api/src/boards/boards.controller.ts
  packages/server-api/src/boards/boards.module.ts
  packages/server-api/src/boards/boards.service.ts
  packages/server-api/src/boards/entity/boards.entity.ts
  packages/server-api/src/boards/entity/dto/CreateBoardDto.ts
  packages/server-api/src/users/entity/user.entity.ts
  packages/server-api/typeOrm.config.ts
Due: EsLint server

fixed test
  packages/server-api/src/app.spec.ts
Due: none

first commit
  README.md
Due: none
